.tv{
  color: white;
  background-color: red;
}
.games{
  color: white;
  background-color: teal;
}
.movies{
  color: black;
  background-color: green;
}
.culture{
  color: white;
  background-color: purple;
}
.sponsored{
  color: white;
  background-color: black;
}